.footer-container {
    width: 100%;
    height: 120px;
  
}
.colors-container{
    width: 100%;
    height: 8px;
    display: flex;

}
.colorModule{
    
    height: 100%;
    width: 16.8%;
}

.info-container{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}